<div class="panel panel-default">
	<div class="panel-heading">
		<div class="btn-group">
			<!-- Build your select: -->
			<select id="multiselector" multiple="multiple">
			  <option value="goriskaChk" selected>Goriško, Notranjsko in Snežniško hribovje</option>
			  <option value="julijskeChk" selected>Julijske Alpe</option>
			  <option value="kamniskeChk" selected>Kamniško Savinjske Alpe</option>
			  <option value="karavankeChk" selected>Karavanke</option>
			  <option value="pohorjeChk" selected>Pohorje in ostala severovzhodna Slovenija</option>
			  <option value="ljubljnaChk" selected>Polhograjsko hribovje in Ljubljana</option>
			  <option value="skofjelokaChk" selected>Škofjeloško, Cerkljansko hribovje in Jelovica</option>	
			  <option value="zasavjeChk" selected>Zasavsko - Posavsko hribovje in Dolenjska</option>
			</select>
			<button id="btnSelect-toggle" class="btn btn-primary">Pobriši vse</button>
		</div>
	</div>
	<div class="panel-body">
  		<div id="map"></div>
	</div>
</div>
